# Projeto  de Front End
/Projeto e estruturaçde interface web/Conteudo/*
Atividades dos alunos.xlsx
Sequencia didática - 3º ANO  - Projeto e estruturaçde interface web.xlsx
Programação Client-Side/Exercicio/Lista de exercicios 7.docx
Implantação e Manutenção de Sistemas/3 - Instalação e Configuração de Serviços & Segurança dos Serviços e do Sistema.pdf
Implantação e Manutenção de Sistemas/4 - Migração do Banco de Dados & Instalação e Configuração do Sistema.pdf
